<div class="table-responsive">
  <%= form_tag admin_products_path, method: :get do %>
    <div class="input-group input-group-sm" style="width: 250px;">
      <%= search_field_tag :search, params[:search], placeholder: 'Search by name', class: 'form-control' %>
      <%= submit_tag "search", class: "btn btn-primary"%>
    </div>
  <% end %>
  <p><%= link_to("Generate Report", admin_products_path(format: :csv), class: "btn btn-success mt-3 mb-3",) %></p>
  <p><%= link_to "Create", new_admin_product_path %></p>
  <table class="table table-sm">
    <thead>
      <th scope="col">''</th>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Compnay Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><input type="checkbox" name="EMS"> </td>
        <td><%= product.id %> </td>
        <td><%= product.title %></td>
        <td>Infinikorn</td>
        <td><%= product.status %> </td>
        <td><%= link_to "Click", admin_product_path(product) %>
            <%= link_to "Edit", edit_admin_product_path(product) %>
            <%= link_to "Delete User", admin_product_path(product), method: :delete, data: {Confirm: "Are you sure?"}  %>
        </td>
      </tr>
      <% end %> 
    </tbody>
  </table>
<%= paginate @products, theme: 'bootstrap-5' %>
