<div class="container-fluid w-75 border rounded shadow mt-5 p-4 text-center sign-up-form mb-5" >
  <h2>Users</h2>
  <div class="table-responsive">
    <%= form_tag admin_users_path, method: :get do %>
      <div class="input-group w-25 input-group-sm mb-5" >
        <%= search_field_tag :search, params[:search], placeholder: 'Search by name', class: 'form-control' %>
        <%= submit_tag "search", class: "btn btn-primary"%>
      </div>
    <% end %>
    <p><%= link_to("Generate Report", admin_users_path(format: :csv), class: "btn btn-success mt-3 mb-3",) %></p>
    <table class="table table-sm">
      <thead>
          <th scope="col"><%= sortable "id","ID" %></th>
          <th scope="col"><%= sortable "user_name","User Name" %></th>
          <th scope="col"><%= sortable "email","Email" %></th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %> </td>
          <td><%= user.user_name %></td>
          <td><%= user.email %> </td>
          <td>Client</td>
          <td>
              <%= link_to "Click", admin_user_path(user) %>
              <%= link_to "Edit", edit_admin_user_path(user) %>
              <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal<%= user.id %>">
                Delete
              </a>
          </td>
        </tr>
        <div class="modal fade" id="exampleModal<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" data-id id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure to want delete "<%= user.user_name %>"
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <%= link_to "Yes", admin_user_path(user), method: :delete, data: {dismiss: "modal"}, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        <% end %> 
      </tbody>
    </table>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>
