<div class="table-responsive">
  <%= form_tag admin_users_path, method: :get do %>
    <div class="input-group input-group-sm mb-5" style="width: 250px;">
      <%= search_field_tag :search, params[:search], placeholder: 'Search by name', class: 'form-control' %>
      <%= submit_tag "search", class: "btn btn-primary"%>
    </div>
  <% end %>
  <table class="table table-sm">
    <thead>
      <th scope="col">''</th>
        <th scope="col"><%= sortable "id","ID" %></th>
        <th scope="col"><%= sortable "user_name","User Name" %></th>
        <th scope="col">Compnay Name</th>
        <th scope="col"><%= sortable "email","Email" %></th>
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><input type="checkbox" name="EMS"> </td>
        <td><%= user.id %> </td>
        <td><%= user.user_name %></td>
        <td>Infinikorn</td>
        <td><%= user.email %> </td>
        <td>034024040240 </td>
        <td>Client</td>
        <td><%= link_to "Click", admin_user_path(user) %>
            <%= link_to "Edit", edit_admin_user_path(user) %>
            <%= link_to "Delete User", admin_user_path(user), method: :delete, data: {Confirm: "Are you sure?"}  %>
        </td>
      </tr>
      <% end %> 
    </tbody>
  </table>
<%= paginate @users, theme: 'bootstrap-5' %>
